.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://nhlife.files.wordpress.com/2015/12/banksy_calais__01_2015.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.footer {
  background-color: #f7f7f7;
}

.footer h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.footer a {
  color: #00b0ff;
}

.title-text {
  text-align: center;
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.title-text h2{
    color: #393c3d;
    font-size: 24px;
}

.title-text p{
    font-size: 15px;
    margin-bottom: 13px;
}
