{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>What I want to get out of this course</h3>
        <p>TThis is an opportunity of a life time really…

Think about it, you’re going to do a course revolving around a subject you care to no-end about, a 

God gifted week away from the terrors of school and most importantly, you’re with people just like 

you.

Not to forget that even though I’ve only been here for 3 hours, the food is something I cannot wait for.

Although I use computers on a daily basis and can program – all be it not efficiently – I feel this is an 

opportunity to expand upon this library of knowledge.

Let’s be honest, pretty much all of us use computers but more than 80% of us have no clue about what 

is actually happening when we press ‘Search’ on Google or when we send that text to our friend. 

Therefore this is the place for me to start. I don’t expect myself to become an Anonymous Hacker 

who will take down ISIS but do hope to get a better understanding of web developments and the 

technical side to the coin.

To end it off, this is a place to relax and get an understanding of the things I truly value.</p>
    </div>
  </div>
</div>
{% endblock %}
