{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Hello World!</h3>
        <p>This is a blog post!</p>
    </div>
  </div>
</div>
{% endblock %}
