{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human has no relevance with intelligence. Rather, it is to discover the beauty of our world.</p>
    </div>
</div>

<div class="round-button">
	<div class="round-button-circle">
		<a href="http://example.com" class="round-button">Button!!</a>
	</div>
</div>

<div class="row">
	<div class="col-md-6">

	<div class="round-button">
		<div class="round-button-circle">
			<a href="http://example.com" class="round-button">Button!!</a>
		</div>
	</div>

  	</div>
  	
  	
  	
  	<div class="col-md-6">
	<div class="round-button">
		<div class="round-button-circle">
			<a href="http://example.com" class="round-button">Button!!</a>
		</div>
	</div>

  	</div>
 
 
 
 
 	<div class="col-md-6">

	<div class="round-button">
		<div class="round-button-circle">
			<a href="http://example.com" class="round-button">Button!!</a>
		</div>
	</div>


  	</div>
</div>
	
  
  
</div>



{% endblock %}
