{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Boundaries are superficial. Your mind is not.</p>
    </div>
</div>

<div id="container" align="center">

<div class="row">
	
	<div class="col-md-4">

	 <a href="https://www.google.co.uk">
	 	<img src="http://i.imgur.com/FORoDts.jpg" onmouseover="this.src='http://i.imgur.com/cFDUcLE.jpg'" onmouseout="this.src='http://i.imgur.com/FORoDts.jpg'" />
	 </a>

  	</div>
  	
	
	
  	

  	<div class="col-md-4">
	<a href="https://www.google.co.uk">
		<img src="http://i.imgur.com/3YkwvlY.png" onmouseover="this.src='http://i.imgur.com/Xz2bdJD.png'" onmouseout="this.src='http://i.imgur.com/3YkwvlY.png'" /></a>
	
  	</div>



  	<div class="col-md-4">
	<a href="https://www.google.co.uk">
		<img src="http://i.imgur.com/VMREvsj.jpg" onmouseover="this.src='http://i.imgur.com/lCbGltc.jpg'" onmouseout="this.src='http://i.imgur.com/VMREvsj.jpg'" /></a>

  	</div>
 
 
 

</div>

</div>

<div class = "footer">
	<p>Copyright from Syed Arafat Qureshi.</p>
	
</div>


</div>
	



{% endblock %}
