{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Boundaries are superficial. Your mind is not.</p>
    </div>
</div>

<div id="container" align="center">

<div class="row">
	
	<div class="col-xs-6 col-sm-4">

	 <a href="https://www.google.co.uk">
	 	<img src="http://i.imgur.com/FORoDts.jpg" onmouseover="this.src='http://i.imgur.com/cFDUcLE.jpg'" onmouseout="this.src='http://i.imgur.com/FORoDts.jpg'" />
	 </a>

  	</div>
  	
	
	
  	

  	<div class="col-xs-6 col-sm-4">
	<a href="https://www.google.co.uk">
		<img src="http://i.imgur.com/3YkwvlY.png" onmouseover="this.src='http://i.imgur.com/Xz2bdJD.png'" onmouseout="this.src='http://i.imgur.com/3YkwvlY.png'" /></a>
	
  	</div>



  	<div class="ccol-xs-6 col-sm-4">
	<a href="https://www.google.co.uk">
		<img src="http://i.imgur.com/VMREvsj.jpg" onmouseover="this.src='http://i.imgur.com/lCbGltc.jpg'" onmouseout="this.src='http://i.imgur.com/VMREvsj.jpg'" /></a>

  	</div>
 
 
 

</div>

</div>

<div align = "centre">
<a href="https://www.facebook.com/profile.php?id=100004935736557" target="_blank" align="left"><img src="http://www.niftybuttons.com/bottlecap/facebook.png"></a><a href="https://www.youtube.com/channel/UCI-3Une7_Y-yZJ7C89TSrHg" target="_blank" align="left"><img src="http://www.niftybuttons.com/bottlecap/youtube.png"></a><a href="https://www.linkedin.com/in/syed-arafat-qureshi-b928a3a5?trk=nav_responsive_tab_profile_pic" target="_blank" align="left"><img src="http://www.niftybuttons.com/bottlecap/linkedin.png"></a>
</div>



<div class = "footer" align="center">
	<div class="row">
		<p>Copyright from Syed Arafat Qureshi.</p>	
	</div>
	
</div>


</div>
	



{% endblock %}
