{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human does not mean intelligent. It means exploring the world around you and striving to improve it.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 align="center">In this caotic world of negativity, I strive to be the light of hope.</h3>

	        <div class = "row">
	        
	        
	        
	            <div class = "col-md-4">
	                <div class="thumbnail">
	                 <img src="http://edugeography.com/images/peru/peru-05.jpg" >
	                </div>
	                
	                <div class="thumbnail">
	                 <img src="http://goo.gl/an2HXY"  >
	                </div>
	            </div>
	            
	            
	            
	            <div class = "col-md-4">
	            
	                <div class="thumbnail">
	                 <img src="http://www.returnofkings.com/wp-content/uploads/2014/03/apple-icon-apple.jpg"  >
	                </div>
	            
	                <div class="thumbnail">
	                 <img src="http://goo.gl/vw43v1"  >
	                </div>
	        
	            </div>
	            
	            
	            
	            <div class = "col-md-4">
	            
	            <div class="thumbnail">
	                 <img src="http://peasinablog.com/wp-content/uploads/2012/11/taj-mahal-agra-india-1680x1050.jpg"
	            </div>
	        
	       </div>
  </div>
</div>
{% endblock %}
