{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Boundaries are superficial. Your mind is not.</p>
    </div>
</div>

<div id="container" align="center">

<div class="row">
	
	<div class="col-xs-6 col-sm-4">

	 <a href="https://www.google.co.uk">
	 	<img src="http://i.imgur.com/FORoDts.jpg" onmouseover="this.src='http://i.imgur.com/cFDUcLE.jpg'" onmouseout="this.src='http://i.imgur.com/FORoDts.jpg'" />
	 </a>

  	</div>
  	
	
	
  	

  	<div class="col-xs-6 col-sm-4">
	<a href="https://www.google.co.uk">
		<img src="http://i.imgur.com/3YkwvlY.png" onmouseover="this.src='http://i.imgur.com/Xz2bdJD.png'" onmouseout="this.src='http://i.imgur.com/3YkwvlY.png'" /></a>
	
  	</div>



  	<div class="ccol-xs-6 col-sm-4">
	<a href="https://www.google.co.uk">
		<img src="http://i.imgur.com/VMREvsj.jpg" onmouseover="this.src='http://i.imgur.com/lCbGltc.jpg'" onmouseout="this.src='http://i.imgur.com/VMREvsj.jpg'" /></a>

  	</div>
 
 
 

</div>

</div>

<div>
	<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_syedarafatqureshi_1">
 <script type="text/javascript">
 Skype.ui({
 "name": "chat",
 "element": "SkypeButton_Call_syedarafatqureshi_1",
 "participants": ["syedarafatqureshi"],
 "imageSize": 32
 });
 </script>
</div>
</div>



<div class = "footer" align="center">
	<div class="row">
		<p>Copyright from Syed Arafat Qureshi.</p>	
	</div>
	
</div>


</div>
	



{% endblock %}
