{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human has no relevance with intelligence. It is to discover the reality of the world around you.</p>
    </div>
</div>


	
  
  
</div>



{% endblock %}
