{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human does not mean intelligent. It means exploring the world around you and striving to improve it.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 align="center">In this caotic world of negativity, I strive to be the light of hope.</h3>
        <div class="col-md-6">
            <ul>
                <li><a href="/posts/first_post/">First Post</a></li>
                <li><a href="/posts/ps_bl/">Problem Solving and Being Lazy</a></li>
            </ul>
    </div>
  </div>
</div>
{% endblock %}
