{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human has no relevance with intelligence. Rather, it is to discover the beauty of our world.</p>
    </div>
</div>


<div class="row">
	<div class="col-md-4">

	<div class="module mid">
  		<h2>One</h2>
	</div>

  	</div>
  	
  	
  	
  	<div class="col-md-4">
  		
	<div class="module mid">
  		<h2>2</h2>
	</div>

  	</div>
  	
  	<div class="col-md-4">
  		
	<div class="module mid">
  		<h2>3</h2>
	</div>

  	</div>
 
 
 

  	</div>
</div>
	
  
  
</div>



{% endblock %}
