{% extends "layout.html" %}
 
 {% block content %}
 <div class="jumbotron text-center">
     <div class="container">
         <h1>Syed Arafat Qureshi</h1>
         <p>Innovation distinguishes between a leader and a follower.</p>
     </div>
 </div>
 
 
 
 <div class="container">
     <div class="row">
         <div class="col-md-6">
             <ul>
 
 
 
 
             </ul>
     </div>
   </div>
 </div>
 {% endblock %}
