{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human has no relevance with intelligence. Rather, its meaning is to discover the beauty of our world.</p>
    </div>
</div>

<div id="container" align="center">

<div class="row">
	
	<div class="col-md-4">

	 <a href="www.example.com">
	 	<img src="http://i.imgur.com/0YaZnFA.jpg" onmouseover="this.src='http://i.imgur.com/z4e4ZXk.jpg'" onmouseout="this.src='http://i.imgur.com/0YaZnFA.jpg'" />
	 </a>

  	</div>
  	
	
	
  	

  	<div class="col-md-4">
	 <a href="www.example.com">
		<img src="http://i.imgur.com/VMREvsj.jpg" onmouseover="http://i.imgur.com/lCbGltc.jpg'" onmouseout="this.src='http://i.imgur.com/VMREvsj.jpg'" />
	 </a>
	
  	</div>



  	<div class="col-md-4">
	 <a href="www.example.com">
		<img src="http://i.imgur.com/3YkwvlY.png" onmouseover="http://i.imgur.com/Xz2bdJD.png'" onmouseout="this.src='http://i.imgur.com/3YkwvlY.png'" />
	 </a>

  	</div>
 
 
 

</div>

</div>
</div>
	
  
  
</div>



{% endblock %}
