{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Syed Arafat Qureshi</h1>
        <p>Being human does not mean intelligent. It means exploring the world around you and striving to improve it.</p>
    </div>
</div>


	
  
  
</div>



{% endblock %}
