{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>B10g</h1>
        <p>If you have not made a Hello World program, you are not a programmer.</p>
    </div>
</div>


{% endblock %}
