{% extends "layout.html" %}

{% block content %}
<div class="container">

<form action="demo_form.asp">
<p>First name: <input style="width: 467px;" type="text" name="FirstName" value="Mickey"><br></p>
<p>Email: <input style="width: 500px;" type="text" name="LastName" value="MickeyMouse@thePlayHouse.co.uk"><br></p>

<div class="right">
<a href="/" class="btn btn-warning">Subscribe to my blog!</a>
</div>

</form>

</div>
{% endblock %}
